<!-- component HTML -->
<button class="flex {{bgcolor}} w-full items-center justify-start px-4 py-2 gap-2 rounded-xl {{bordercolor}} border" {{ attributes }}>
    <i class="{{ faicon }} text-white"></i>
    <p class=" text-white text-left">Toutes les tâches</p>
</button>
